@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backgroundDetail: #D2DDEB;
  --button_blue: #004AAD;
  --button_orange: #FF914D;
  --grey: #545454;
  --red-date: #FF3131;
}

@theme {
  --button_blue: var(--button_blue);
  --button_orange: var(--button_orange);
  --grey: var(--grey);
  --red-date: var(--red-date);
  --backgroundDetail: var(--backgroundDetail);
}

.bg-detail{
  background: var(--backgroundDetail);
  min-height: 100vh;
  margin: 0;
}

.bg-login{
  background: linear-gradient(-200deg, var(--button_blue) 40%, var(--button_orange)) 40%;
  min-height: 100vh;
  margin: 0;
}

body {
  background: var(--background);
  font-family: Bebas Neue, serif
}

h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.date{
  font-family: "Bree serif", sans-serif;
}

input{
  font-family: "Roboto Light", sans-serif;
}

.sidebar-item {
  transition: background 0.2s;
}

.sidebar-item.active {
  background-color: #00367e;
}